@using ZtherApiIntegration.Models.Collections
@using ZtherApiIntegration.Common
@model List<CollectionModel>


<div id="collections">

    <div class="seasonal_container" style="padding-bottom: 0;">
        <div class="collections_container">
            <div class="inner">
                <br /><br /><br />
                <div class="title">Collections</div>
                <a href="~/women/category/all-day">
                    <div class="block5 block" style="height: 420px;">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top">Comfort that lasts</div>
                            <div class="title">All-day</div>
                            <div class="cta">View More <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
                <a href="~/women/category/pre-washed">
                    <div class="block6 block" style="height: 420px;">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top">Soft & sensational</div>
                            <div class="title">PRE-WASHED</div>
                            <div class="cta">Product Details <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
                <a href="@UrlBuilder.BuildCategoryUrl("male", UrlBuilder.CATALOG_TOPS)">
                    <div class="block1 block">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top fit_text">Landau</div>
                            <div class="title fit_text">For Men</div>
                            <div class="cta">Shop Now <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
                <a href="@(UrlBuilder.BuildCollectionUrl("women","lynx"))">
                    <div class="block2 block">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top fit_text">Introducing</div>
                            <div class="title fit_text">Lynx</div>
                            <div class="cta">Shop Now <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
                <a href="@(UrlBuilder.BuildCollectionUrl("women","scrubzone"))">
                    <div class="block3 block" style="height: 620px;">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top fit_text">Comfort & Value</div>
                            <div class="title fit_text">Scrubzone</div>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="public/images/collections/collections/scrubzone_logo.png" media="(min-width: 1271px)" />
                                <source srcset="public/images/collections/collections/scrubzone_logo_990.png" media="(min-width: 990px)" />
                                <source srcset="public/images/collections/collections/scrubzone_logo_768.png" media="(min-width: 768px)" />
                                <!--[if IE 9]></video><![endif]-->
                                <img class="img" srcset="public/images/collections/collections/scrubzone_logo_640.png" alt="Scrubzone" title="Scrubzone" />
                            </picture>
                            <div class="bottom fit_text">
                                by
                                <span>Landau</span>
                            </div>
                            <div class="cta">Shop Now <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
                <a href="@(UrlBuilder.BuildCollectionUrl("men","for-groups"))">
                    <div class="block4 block" style="height: 620px;">
                        <div class="shadow"></div>
                        <div class="overlay_img"></div>
                        <div class="content">
                            <div class="top fit_text">Landau</div>
                            <div class="title fit_text">Groups</div>
                            <div class="cta">Shop Now <span class="arrow">&#xe805;</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
