@using ZtherApiIntegration.Models.Swatch
@model SwatchListModel

<section id="prints_page" class="clearfix prints_solids_page">
    <div class="info_slider">
        <div class="flexslider">
            <div class="content">
                <ul class="slides">
					<li>
						<div class="content">
							<h1 class="top">Prints</h1>
							<div class="body">Prints, prints, pretty prints – At Landau we know what you want. Each season Landau releases a collection of printed scrubs that focus on current fashion trends.  Our designers take pride in creating unique scrubs with prints that are fashion-forward and help you look your best.</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h2 class="top">Prints</h2>
							<div class="body">They go through painstaking effort to select just the right prints.  Whether it’s a beautiful floral, or a vibrant abstract print for that pop of color each style is uniquely selected. Beautiful garments with great style and flare – that’s our goal.</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h2 class="top">Prints</h2>
							<div class="body">With new styles introduced each season our Landau print scrubs help you stay ahead of the curve. Seasonal colors also play a big role into the prints offered.  No outfit is complete without the coordinating pant.</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h2 class="top">Prints</h2>
							<div class="body">That’s why Landau carefully considers each print’s color palate to make sure they can coordinate with colors you love to wear.  Not only that, our Landau prints can be coordinated with any pant, giving you more variety in your work wear selections.</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h2 class="top">Prints</h2>
							<div class="body">Be sure to check out our prints page each season for the latest in print scrub options. Our prints page is designed to make it easy for you do to.</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h2 class="top">Prints</h2>
							<div class="body"> Simply select a print to find the styles it is available in.  From there the choice is yours.  Mix and match to make the ultimate outfit or find a print that works well with the scrubs you already have. Keep things fun and fashionable by adding a Landau printed scrub to your work wardrobe.</div>
						</div>
					</li>
				</ul>
            </div>
        </div>
    </div>
    <div class="top_divider"></div>
    <!-- .SEO slider-->

    <div class="banner banner1 inner">
        <div class="content">
            <div class="inner">
                <span class="top">
                    <img srcset="public/images/prints/prints_banners/top_text.png" alt="Our Prints" />
                </span>
                <span class="middle">
                    Pop
                </span>
                <span class="bottom">
                    With new, fashion-forward styles introduced each season, all Landau prints are high-quality, bright and vibrant.
                </span>
            </div>
        </div>
    </div>
    <!-- .banner -->
    <div class="product_blocks">
        <div class="products_block">
            <div class="products inner clearfix">
                @Html.Partial("~/Views/Partials/Swatch/_SwatchItemPartial.cshtml", Model.NewList)
            </div>
            <!-- .products -->
            <!-- <div class="hover_selection"></div> -->
            <!-- .hover selection -->
        </div>
        <!-- .products_block -->
    </div>


    <!-- .product blocks -->
    <div class="banner banner2 inner">
        <div class="content">
            <div class="inner">
                <span class="top">
                    <img srcset="public/images/prints/prints_banners/bottom_text.png" alt="Our Most" />
                </span>
                <span class="middle">
                    Popular Prints
                </span>
            </div>
        </div>
    </div>

    <!-- .banner -->
    <div class="product_blocks">
        <div class="products_block">
            <div class="products inner clearfix">
                @Html.Partial("~/Views/Partials/Swatch/_SwatchItemPartial.cshtml", Model.PopularList)
            </div>
            <!-- .products -->
            <!-- <div class="hover_selection"></div> -->
            <!-- .hover selection -->
        </div>
        <!-- .products_block -->
    </div>
    <!-- .product blocks -->

</section>

<script src="public/js/logic/prints.js"></script>
