<div id="promotions_page">

    @*<a href="/Scholarship">
        <div id="scholarship">

            <div class="desktop">
                <img src="~/public/images/promotions/scholarship/MLB_Scholarship_1920x768_Apply.jpg" alt="Scholarship" />
            </div>
            <div class="mobile">
                <img src="~/public/images/promotions/scholarship/MLB Scholarship_640x768_Apply.jpg" alt=" Scholarship" />
            </div>

        </div>
    <div id="news">
        <figure class="responsive"
                data-media="~/public/images/promotions/scholarship/MLB Scholarship_640x768_Apply.jpg"
                data-media768="~/public/images/promotions/scholarship/MLB_Scholarship_1270x510_Apply.jpg"
                data-media1200="~/public/images/promotions/scholarship/MLB_Scholarship_1920x768_Apply.jpg" title="Scholarship 2019">
            <noscript>
                <img src="~/public/images/promotions/scholarship/MLB Scholarship_640x768_Apply.jpg"
                     class="img-responsive"
                     alt="Scholarship 2019" />
            </noscript>
        </figure>
    </div>
    </a>*@

    <a href="https://scrubs.qualtrics.com/jfe/form/SV_8D1HwMnmbdgeHhH" class="cta-promo2" target="_blank">
        @*<div id="news">
                <figure class="responsive"
                        data-media="~/public/images/promotions/Landau_Ambassdor_Mobile_test.jpg"
                        data-media768="~/public/images/promotions/Ambassador_Banner_1270x510.jpg"
                        data-media1200="~/public/images/promotions/Ambassador_Banner_1920x768.jpg" title="Landau Ambassadar">
                    <noscript>
                        <img src="~/public/images/promotions/Ambassador_Banner_1270x510.jpg"
                             class="img-responsive"
                             alt="Landau Ambassadar" />
                    </noscript>
                </figure>
            </div>*@
        <div id="scholarship">

            <div class="desktop">
                <img src="~/public/images/promotions/Ambassador_Banner_1920x768.jpg" alt="Landau Ambassadar" />
            </div>
            <div class="mobile">
                <img src="~/public/images/promotions/Ambassador_Banner_640x760.jpg" alt=" Landau Ambassadar" />
            </div>

        </div>
    </a>

    @*<div id="promo2" class="promo2">
            <div class="content" style="background-color : #dddddd;">

                @*<span class="cta-text">test</span>
            </div>
        </div>*@



    <div id="promo1" class="promo">
        <div class="content">
            <img class="fancy-text" srcset="public/images/promotions/promo1_text.png" />
            <h2 class="main-title">Insider Panel</h2>
            <a href="https://az1.qualtrics.com/SE/?SID=SV_5nkBxzr8WOFfuGp" class="cta-promo" target="_blank">
                <span class="cta-text">View More</span><span class="cta-arrow">&#xe805;</span>
            </a>
        </div>
    </div>

    @*<div id="news">
            <figure class="responsive"
                    data-media="~/public/images/promotions/scholarship/scholarship_sm.jpg"
                    data-media768="~/public/images/promotions/scholarship/scholarship_md.jpg"
                    data-media1200="~/public/images/promotions/scholarship/Scholarship_Banner_Spring19.jpg" title="Scholarship 2018">
                <noscript>
                    <img src="~/public/images/promotions/scholarship/scholarship_md.jpg"
                         class="img-responsive"
                         alt="Scholarship 2019" />
                </noscript>
            </figure>
        </div>*@
</div>

<script src="~/public/js/modernizr.js"></script>
<script src="~/public/js/jquery-picture-min.js"></script>
<script src="~/public/js/pages/promotions.js"></script>

<script>

    $(function(){
        $('figure.responsive').picture();
    });

</script>