<div id="login_page">
	<div class="login_container">
        <img class="model" srcset="public/images/login/desktop/model.jpg" />
		<div class="title">Retail Login</div>
		<form>
			<label>Username or Email</label>
            <input type="text" name="username" required />
            <label>Password</label>
            <input type="password" name="password" required />
			<div class="help">
				<span class="help_title">Help:</span> I forgot my <a href="">username</a> or <a href="">password</a>.</div>
			<div class="remember_me">
				<input type="checkbox" />
				<div>Remember Me</div>
			</div>
			<input type="submit" value="Log In" />
            <div class="vendor_container">
                <div class="vendor_row">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/landau.jpg" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/landau.png" alt="Landau" />
                    </picture>
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/scrubzone.jpg" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/scrubzone.jpg" alt="Scrubzone" />
                    </picture>
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/mdf_instruments.jpg" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/mdf_instruments.jpg" alt="MDF Instruments" />
                    </picture>
                </div>
                <div class="vendor_row">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/urbane_essentials.png" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/urbane_essentials.png" alt="Landau" />
                    </picture>
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/urbane_performance.png" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/urbane_performance.png" alt="Landau" />
                    </picture>
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="public/images/login/desktop/urbane_ultimate.png" media="(min-width: 768px)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="public/images/login/mobile/urbane_ultimate.png" alt="Landau" />
                    </picture>
                </div>
            </div>
		</form>
	</div>
</div>


