@using ZtherApiIntegration.Common
@model ZtherApiIntegration.Models.ProductListModel

@if (Model.Products.Count==0)
{ 
<div id="validation-page">
    <div class="title">SEARCH RESULTS</div>
    <div class="body">Your search for <span>Product Name</span> returned <span>0</span> results</div>
</div>
}
else
{
<div id="catalog_container" class="search-results-page">
    @Html.Partial("~/Views/Partials/Search/_SearchPartial.cshtml", Model)
</div>
}

<script src="public/js/logic/search.js"></script>

	