################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZtherApiIntegration/Properties/PublishProfiles/landau-staging - Web Deploy.pubxml.user
/ZtherApiIntegration/Properties/PublishProfiles/landau-staging - Web Deploy.pubxml
/ZtherApiIntegration/Properties/PublishProfiles/landau-staging - FTP.pubxml.user
/ZtherApiIntegration/Properties/PublishProfiles/landau-staging - FTP.pubxml
/ZtherApiIntegration/Properties/PublishProfiles/landau - Web Deploy.pubxml.user
/ZtherApiIntegration/Properties/PublishProfiles/landau - Web Deploy.pubxml
/ZtherApiIntegration/Properties/PublishProfiles/landau - FTP.pubxml.user
/ZtherApiIntegration/Properties/PublishProfiles/landau - FTP.pubxml
*.config
ZtherApiIntegration/bin/ZtherApiIntegration.dll
*.config
ZtherApiIntegration/bin/ZtherApiIntegration.pdb
ZtherApiIntegration/obj/Debug/ZtherApiIntegration.pdb
*.dll
*.config
/.vs/Landau.Website/v15/Server/sqlite3/db.lock
/.vs/Landau.Website/v15/sqlite3/db.lock
