#header {
  background-image: url('../images/loyalty/landau-banner-2.png');
  background-position: right;
  background-repeat: no-repeat;
  height: 209px;
  border-bottom: 1px thin #333;
  box-shadow: 0 20px 20px -20px #333;
}
#header .logo {
  float: left;
  padding-left: 20px;
  padding-top: 80px;
}
#header .login {
  float: right;
  padding-top: 100px;
  padding-right: 20px;
}
#body-content .steps-to-join-panel,
#body-content .earn-rewards-panel,
#body-content .catalog-panel {
  margin-bottom: 20px;
}
#body-content .steps-to-join-panel {
  margin-top: 60px;
  margin-bottom: 60px;
}
#body-content .steps-to-join-panel ul li {
  position: relative;
  list-style: none;
  height: 84px;
}
#body-content .steps-to-join-panel ul li img,
#body-content .steps-to-join-panel ul li span {
  position: absolute;
}
#body-content .steps-to-join-panel ul li span {
  left: 80px;
  top: 20px;
  font-family: 'Proxima N W01 Reg';
  font-size: 16pt;
  color: #989898;
}
#body-content .steps-to-join-panel ul li:nth-child(2) span {
  top: 15px;
}
#body-content .steps-to-join-panel .join-now-section {
  text-align: center;
}
#body-content .steps-to-join-panel .join-now-section .join-now-button {
  margin: 0 auto;
}
#body-content .steps-to-join-panel .join-now-section h5 {
  font-family: 'Proxima N W01 Reg';
  font-size: 16pt;
  font-weight: bold;
  color: #00295D;
}
#body-content .earn-rewards-panel {
  height: 100px;
  width: 100%;
  background-color: #00295D;
  margin-bottom: 40px;
}
#body-content .earn-rewards-panel h2 {
  font-family: 'Proxima N W01 Bold';
  font-size: 28pt;
  color: #FFF;
  line-height: 95px;
  padding-left: 20px;
}
#body-content .faq {
  margin: 60px 0 40px 0;
}
#body-content .faq h1,
#body-content .faq h2 {
  font-family: 'Proxima N W01 Bold';
  color: #00295D;
}
#body-content .faq h1 {
  margin-bottom: 40px;
}
#body-content .faq p,
#body-content .faq li {
  font-family: 'Proxima N W01 Reg';
  color: #808080;
}
#body-content .faq article {
  margin: 20px 0 10px 0;
}
#body-content .disclaimer {
  margin: 60px 0 40px 0;
}
#body-content .disclaimer section {
  margin: 20px 0 10px 0;
}
#body-content .disclaimer section:nth-child(2) {
  margin-top: 60px;
}
#body-content .disclaimer h1 {
  font-family: 'Proxima N W01 Bold';
  color: #00295D;
}
#body-content .disclaimer p {
  font-family: 'Proxima N W01 Reg';
  color: #808080;
}
#footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer ul li {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
  font-family: 'Proxima N W01 Reg';
  font-size: 12pt;
  font-weight: 700;
}
#footer ul li a {
  color: #00295D;
}
#footer ul li a:hover {
  text-decoration: none;
  color: #989898;
}