


body{
	width: 100%;
	position: relative;
	margin: 0;
	overflow-x: hidden;
}

#video-banner >img{
	width: 100%;
	margin-bottom: 40px;

}

.full_width{
	margin: 20px 0;
	width: 100%;
	position: relative;
	text-align: center;
}
#measure{
	padding: 50px 0;
}

.types{
	padding: 30px 0;
	font-size: 16px;
}

.description{
	padding: 10px 0 0 0
}
.types{
	display: inline-block;
}

.landau-row{
	text-align: center;

}

.smitten-row{
	text-align: center;
	margin: 40px 0;
	display: none;
}

.urbane-row{
	text-align: center;
	margin: 40px 0;
}
.types div{
	float: left;
	padding: 15px;
}
.flexslider{
	/*margin-left: 5%;
	margin-right: 5%;
	width: 35%;
	float: left;
	position: absolute;*/
}

.slides > li > img{
	height: 600px;
	width: auto;
}
#logo{
	width: 150px !important;
	height: auto !important;
	border: none;
}


.flex-direction-nav a{
	height: 55px !important;
}

#options .col-md-4{
	padding: 8px 0px !important;
	border: 1px solid black;
	font-size: 20px;
transition: font-weight .6s ease-in-out;
}
#options #active{
	font-weight: 900;
}

.types .pants, .types .tops, .types .coats{
	cursor: pointer;
	transition: font-weight .6s ease-in-out;
}

.smitten-row > div > div > img, .smitten-row > div > div > a > img {
    height: 220px;
    width: auto;
    border: 1px solid black;
}
.landau-row > div > div > img, .landau-row > div > div > a > img {
    height: 220px;
    width: auto;
    border: 1px solid black;
}

.urbane-row > div > div > img, .urbane-row > div > div > a > img {
    height: 220px;
    width: auto;
    border: 1px solid black;
}

.types #active{
	font-weight: 900;
}

#options div.col-md-4{
cursor: pointer !important;
}


#flexslider > #slides > li > img{
	height: 600px;
	width: auto;
}

#active.style{
	width: 85%;
}

.style{
	cursor: pointer;
}
.smitten_logo{
	text-align: center;
	margin: 50px 0;
}

.landau_logo{
	padding: 50px 0;
}

.urbane_logo{
	text-align: center;
	padding: 50px 0;
}

.text-center{
	text-align: center;
	text-transform: uppercase;
}
.fit-info{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	float: left;
}
#options-section .col-md-4{
	padding: 0 !important;
	width: 100%;
	border: 1px solid black;
	padding: 10px;

	float: left;
}
button{
	font-size: 15px !important;
	letter-spacing: 3px !important;

}
button.landau{
	text-transform: uppercase;
	background-color: #205297 !important;
	color: white;
	padding: 10px 20px;
	lette
}

button.landau-temp{
	text-transform: uppercase;
	background-color: #205297 !important;
	color: white;
	padding: 10px 20px;
	lette
}


.style{
	z-index: 9999999999;
}
button.smitten{
	text-transform: uppercase;
	background-color: #C42790 !important;
	color: white;
	padding: 10px 20px;
}
button.urbane{
	text-transform: uppercase;
	background-color: #ED8A1D !important;
	color: white;
	padding: 10px 20px;
}

.urbane-row .col-md-12, .smitten-row .col-md-12, .landau-row .col-md-12{
	margin: 40px 0px;
}
.select-fit{
	font-size: 15px;
	margin: 20px 0;
	text-align:center;
}
.right-side{
	display:block;
	position:relative;
	float:right;
}
.left-side{
	float: left;
	padding: 20px 0;
}
table{
	width: 100%;
}
table tr{
	height: 50px;}

#mobile{
	display: none;
}
#full-size{
	display: block;
}
.style{
	font-size: 2vw !important;;
}
@media only screen and (max-width: 800px) {

#flexslider > #slides > li > img{
	height: auto !important;
	width: 100% !important;
}

.smitten-row > div > .col-xs-6 > img{
	height: auto !important;
	width: 100% !important;
	border: 1px solid black;
}
.landau-row > div > .col-xs-6 > img{
	width: 100% !important;
	height: auto !important;
	border: 1px solid black;
}

.urbane-row > div > .col-xs-6 > img{
	height: auto !important;
	width: 100% !important;
	
	border: 1px solid black;
}


.flexslider .slides img{
	height: auto !important;
	width: 100% !important;
	    margin-left: auto;
    margin-right: auto;
}

.style{
	font-size: 5vw !important;
}

#full-size{
display: none;
}
#mobile{
	display: block;
}

}


@media only screen and (max-width: 1270px) {
.style{
	font-size: 2.5vw !important;
}
	}
	@media only screen and (max-width: 991px) {
.style{
	font-size: 3vw !important;
}
	}


@media only screen and (max-width: 600px) {

.right-side .contain{
	margin: 0 !important;
	padding-bottom: 50px;
}
.contain{
	width: 100% !important;
}

#flexslider > #slides > li > img{
	height: auto !important;
	width: 100% !important;
}

.left-side{
	text-align: center !important;
	float: left;
	padding: 20px 10px;
	}
.classic-fit{
	padding-bottom: 60px;
}
.right-side{
	text-align:center !important;
	float: none;
}
.fit-info{
    text-align: center;
    position: relative;
    float: none !important;
    /* float: right; */
    display: block;
    width: 80%;
    padding: 10px 0px !important;
}
.landau_logo{
	padding: 20px;
}
.style{
	font-size: 5vw !important;
}
}


td:first-child{
	border-right: 1px solid #02AEEF !important;
	border-bottom: 1px solid #02AEEF !important;
	border-top: 0;
	border-left: 0;
}
td:last-child{
	border-right: 0;
	border-bottom: 1px solid #02AEEF !important;
	border-top: 0;
	border-left: 1px solid #02AEEF !important;
}

td{
	border-right: 1px solid #02AEEF;
	border-left: 1px solid #02AEEF;
	border-bottom: 1px solid #02AEEF;
	text-align: center

}


#women-chart, #men-chart, #unisex-chart{
	margin-top: 20px;
	margin-bottom: 80px;
	display: none;
}

#unisex-chart{
	display:block;
}

#women-chart.active{
	display: block;
}
#men-chart.active{
	display:block;
}
#unisex-chart.active{
	display: block;
}



.contain{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display:block;

}
.fit-info{
	text-align: left;
	float: right;
}
.classic{
	width: 75%;
	padding: 5px 20px;
	background-color: #02a0e2;
	margin-left: auto;
	margin-right: auto;
	font-size: 3vw;
	color: white;
	text-align: center;
	 -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
.modern{
	width: 75%;
	padding: 5px 20px;
	background-color: #ff8e15;
	margin-left: auto;
	margin-right: auto;
	font-size: 3vw;
	color: white;
	text-align: center;
	 -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
.contemporary{
	width: 75%;
	padding: 5px 20px;
	background-color: #cddd00;
	margin-left: auto;
	margin-right: auto;
	font-size: 3vw;
	color: white;
	text-align: center;
	 -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
    transition: visibility .5s, opacity 0.5s linear;

}

#hide{
	opacity: 0;
	visibility: hidden;
}

.right-side .contain{
	margin: 47px;
}

/*div.button{
	padding: 20px;
	background-color: darkblue;
	color: white;
}*/

