@font-face {font-family: "ProximaNovaW01-Bold";
    src: url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/95b9939d188cb02d94daf26cd6667438.svg#ProximaNovaW01-Bold") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "ProximaNovaW01-Semibold";
    src: url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3d1edce403b2b4c76383ca37dab89a63.svg#ProximaNovaW01-Semibold") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "ProximaNovaW01-Regular";
    src: url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/4a4fee972680df7928438c04f33e9cca.svg#ProximaNovaW01-Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Bauer Bodoni Std 1";
    src: url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/c1b9076e78272786ab97c345b403f48f.svg#Bauer Bodoni Std 1") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "NoteraW01-Regular";
    src: url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/4a66a0d94c487ba3931a9aa17e90db5c.svg#NoteraW01-Regular") format("svg"); /* iOS 4.1- */
}