<div id="scholarship-container">
    <div id="scholarship">

        <div class="desktop">
            @*<img src="~/public/images/promotions/scholarship/MLB_Scholarship_1920x768.jpg" alt="Scholarship" />*@
            <a href="https://app.mykaleidoscope.com/scholarship/landauuniforms" style="border:none">
                <img class="background" style="width:100%" srcset="public/images/home/slider/05-18/Landau-Amaze-Scholarship-Desktop.jpg" alt="Scholarship" draggable="false">
            </a>
        </div>
        <div class="mobile">
            @*<img src="~/public/images/promotions/scholarship/MLB_Scholarship_640x768.jpg" alt=" Scholarship" />*@
            <a href="https://app.mykaleidoscope.com/scholarship/landauuniforms" style="border:none">
                <img class="background" style="width:100%" srcset="public/images/home/slider/05-18/Landau-Amaze-Scholarship-Mobile.jpg" alt="Scholarship" draggable="false">
            </a>
        </div>

    </div>

    @*<div id="scholarship-details">
                <div class="header">
                    <div class="red-container">
                        <h2> SCHOLARSHIP AWARD DETAILS </h2>
                    </div>

                </div>
                <div class="content">
                    <div class="offers">

                        <div class="offer">
                            <div class="date">
                                <img src="~/public/images/promotions/scholarship/Contest_Opens.png" />
                            </div>
                            <div class="description">
                                <ul>
                                    <li> CONTEST OPENS</li>
                                    <li>JANUARY 21,2019</li>
                                </ul>
                            </div>
                        </div>
                        <div class="offer">
                            <div class="date">
                                <img src="~/public/images/promotions/scholarship/Contest_Closes.png" />
                            </div>
                            <div class="description">
                                <ul>
                                    <li>CLOSES</li>
                                    <li>APRIL 14,2019</li>
                                </ul>
                            </div>
                        </div>
                        <div class="offer">
                            <div class="date">
                                <img src="~/public/images/promotions/scholarship/Winner_PIcked.png" />
                            </div>
                            <div class="description">
                                <ul>
                                    <li>WINNERS PICKED</li>
                                    <li>MAY 10,2019 </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="conditions">
                    <div class="row">
                        <div class="left">
                            <div class="criteria">
                                <h3>Our Ideal Candidate:</h3>
                                <ul class="markers">
                                    <li> Legal resident of the United States and District of Columbia</li>
                                    <li>17 years of age or older as of the scholarship start date</li>
                                    <li>Currently enrolled as a healthcare student at an accredited college/university</li>
                                    <li>Have a minimum of 1 semester remaining prior to graduation from a healthcare program at an accredited college/university</li>
                                    <li>OR be accepted to a healthcare program at an accredited college/university for entry in the Summer or Fall of 2019 term.</li>
                                    <li>Minimum of 2.5 GPA</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <div class="how-to-apply">
                                <h3>How to Enter:</h3>
                                <ul class="markers">
                                    <li>Written submission (minimum requirement)</li>
                                    <li>Video submission</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left">
                            <div class="guidelines">
                                <h3>Guidelines:</h3>
                                <ul class="markers">
                                    <li>Written essays must be between 500-1,000 word</li>
                                    <li>Videos must be 1-1:30 minutes</li>
                                    <li>All entries must answer the questions: Why did you selected your field? What amazes you about your field of choice?  How will you share your amazing skills with the world? </li>
                                    <li>Creative entries highly recommended</li>
                                    <li>Show us why you deserve the Making Lives Better Scholarship</li>
                                </ul>

                            </div>
                        </div>
                        <div class="right">
                            <div class="winners">
                                <h3>Winners:</h3>
                                <ul class="markers">
                                    <li>Four (4) winners will be awarded a $2,500 scholarship</li>
                                    <li>First 100 entries will receive Landau gift pack</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="apply_now">
                        <button onclick="location.href='https://goo.gl/C1MYwo'" type="button" class="button">
                            APPLY NOW !
                        </button>
                    </div>

                </div>
            </div>

        </div>*@

